/* ===== General Styles ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d1117;
    color: #e6edf3;
    font-family: "Courier New", monospace;
    line-height: 1.6;
}

/* ===== Navigation ===== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    border-bottom: 2px solid #30363d;
    position: sticky;
    top: 0;
    background-color: #0d1117;
}

.logo {
    color: #3fb950;
    font-size: 1.4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #e6edf3;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #3fb950;
    text-shadow: 0 0 8px #3fb950;
}

/* ===== Main Content ===== */

main {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

/* ===== Hero Section ===== */

.hero {
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;
}

.terminal-line {
    color: #3fb950;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text {
    margin-top: 15px;
    color: #8b949e;
}

/* ===== File Panels ===== */

.file-panel {
    margin: 40px 0;
    padding: 25px;
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.file-panel p {
    margin-bottom: 18px;
}

.file-panel p:last-child {
    margin-bottom: 0;
}

.file-panel h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #e6edf3;
}

.file-panel h3:first-of-type {
    margin-top: 20px;
}

.file-panel h2 {
    color: #3fb950;
    margin-bottom: 15px;
    border-bottom: 1px solid #30363d;
    padding-bottom: 10px;
}

.file-panel pre {
    margin: 15px 0;
    color: hsl(212, 100%, 67%);
    overflow-x: auto;
}

.file-panel:hover {
    border-color: #3fb950;
    transform: translateY(-4px);
}



/*===== Command ===== */
.command {
    color: #3fb950;
    margin-bottom: 12px;
    font-size: 0.95rem;
}

/* ===== Footer ===== */

footer {
    text-align: center;
    padding: 30px;
    border-top: 2px solid #30363d;
    margin-top: 40px;
    color: #8b949e;
}

/* ===== Responsive Design ===== */

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h2 {
        font-size: 2rem;
    }

    main {
        width: 92%;
    }
}